---
const socialLinks = [
  { href: 'https://facebook.com', icon: 'fa fa-facebook-f', ariaLabel: 'Facebook' },
  { href: 'https://twitter.com', icon: 'fa fa-twitter', ariaLabel: 'Twitter' },
  { href: 'https://instagram.com', icon: 'fa fa-instagram', ariaLabel: 'Instagram' },
  { href: 'https://linkedin.com', icon: 'fa fa-linkedin-in', ariaLabel: 'LinkedIn' },
];

const quickLinks = [
  { href: '/products', label: 'Our Products' },
  { href: '/services', label: 'Services' },
  { href: '/contact', label: 'Contact' },
  { href: '/about', label: 'About Us' },
];
---

<footer class="bg-dark text-white py-4 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          {quickLinks.map(link => (
            <li><a href={link.href} class="text-white text-decoration-none">{link.label}</a></li>
          ))}
        </ul>
      </div>
      
      <div class="col-md-3 mb-3">
        <h5>Follow Us</h5>
        <div class="d-flex gap-2">
          {socialLinks.map(link => (
            <a href={link.href} aria-label={link.ariaLabel} target="_blank" rel="noopener noreferrer" class="text-white">
              <i class={`fa ${link.icon} fa-lg`}></i>
            </a>
          ))}
        </div>
      </div>
      
      <div class="col-md-6 mb-3">
        <h5>Contact Us</h5>
        <p>Email: <a href="mailto:jummantraders@gmail.com" class="text-white">jummantraders@gmail.com</a></p>
        <p>Phone: (+88) 01763-472750</p>
        <p> &nbsp;&nbsp;      (+88) 01677-759661</p>

      </div>
    </div>

    <div class="text-center mt-4">
      <p class="mb-0">&copy; {new Date().getFullYear()} Jumman Traders. All rights reserved.</p>
    </div>
  </div>
</footer>
